[Desktop Entry]
Type=Application
Name=Mergers
GenericName=Diff Tool
Comment=Compare and merge files
Exec=mergers
Icon=com.github.joske.mergers
Terminal=false
Categories=Development;TextEditor;
MimeType=text/plain;
